<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EverydayMacros.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24D88CFC1FB8B49300DD81CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24D88D131FB8B49400DD81CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24D88D1E1FB8B49400DD81CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
